<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/main.css")">
  </head>
  <body>
    <div class="container-fluid">
      
      <div class="row">
        <div class="col-xs-12 pandr-header pandr-border">
          <h1>Pandr</h1>
          Welcome, <span id="username-span"></span>
        </div>
      </div>

      <div class="pandr-content pandr-list">
        <div class="row">
          <div class="col-xs-12">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 pandr-footer">
        </div>
      </div>
    </div>
    <script src="@routes.Assets.versioned("js/pandr-list.js")" type="text/javascript"></script>
  </body>
</html>
